@import 'tailwindcss';

:root {
  --white: #ffffff;
  --white-dark: #f7f6f3;
  --black: #212121;
  --blue: #5c89ff;
  --yellow: #f7f154;
  --orange: #ff9900;
  --orange-light: #e9ab52;
  --gray: #e5ecff;
  --gray-dark: #8c8c8c;
  --pink: #ff9b9d;
  --red: #ff5449;

  --line-height-base: 1.2;
  --font-roboto: 'Roboto', Arial, Helvetica, sans-serif;

  --container-max-width: 1440px;
}

@theme inline {
  /* Colors */
  --color-white: var(--white);
  --color-white-dark: var(--white-dark);
  --color-black: var(--black);
  --color-blue: var(--blue);
  --color-yellow: var(--yellow);
  --color-orange: var(--orange);
  --color-orange-light: var(--orange-light);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
  --color-pink: var(--pink);
  --color-red: var(--red);

  /* Typography */
  --font-roboto: var(--font-roboto);
  --leading-base: var(--line-height-base);

  /* Breakpoints */
  /* 768px */
  --breakpoint-md: 48rem;
  /* 1440px */
  --breakpoint-lg: 90rem;
  /* 1920px */
  --breakpoint-xl: 120rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: var(--white);
  color: var(--black);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  line-height: var(--line-height-base);
}

main {
  flex-grow: 1;
}

li {
  list-style: none;
}

button,
label {
  cursor: pointer;
}